@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

body {
  letter-spacing: calc($font-size-base * 0.02);
}

.navbar {
  transition: all 0.3s ease;
  background-color: transparent;
  &.sticky-top {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  &:not(.sticky-top) {
    background-color: transparent;
    box-shadow: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
  }
  .navbar-nav {
    .nav-link {
      font-family: "DM Sans", sans-serif;
    }
  }
}

.section {
  padding-block-start: 140px;
  padding-block-end: 140px;
  .title {
    letter-spacing: calc($font-size-base * 0.27);
  }
}

#hall-of-fame {
  .hof-kbi-logo {
    max-width: 208px;
  }
}
